#index {
	background-image: url(images/bg_test.png);
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
  	background-attachment: fixed;
}

#page2 {
	background-image: url(images/bg_test.png);
	margin: 0;
	height: 200%;
	background-size: 100%;
	background-repeat: no-repeat;
  	background-attachment: fixed;
}

#page3 {
	background-image: url(images/bg_test2.png);
	margin: 0;
	height: 200%;
	background-size: 100%;
}

#myphoto {
	width: 20%;
	height: auto;
	border: 1px;
	border-style: solid;
	border-color: black; 
	margin-left: 5%;
	margin-top: 1.5%;
	margin-right: 0;
	float: left;
}

#align {
	display: flex;
	justify-content: flex-end;

}

nav {
	display: flex;
	justify-content: space-between;
	background-color: black;
}

#nav1 {
	display: flex;
	justify-content: space-between;
	background-color: black;
	overflow: hidden;
    position: relative;
    animation-name: slideLeft;
    animation-duration: 0.7s;
}

@keyframes slideLeft {
	0% {
		right: -70%;
		animation-timing-function: ease-in;
	}

	100% {
		right: 0%;
		animation-timing-function: ease-out;
	}
}

a {
	color: #ffffff;
	font-family: courier-prime,monospace;
	font-weight: 400;
	font-style: normal;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-top: 1%;
	font-size: 28px;
	text-decoration: none;
}

a:hover {
	color: #FFD738;
}

.navLink {
	margin-left: 5%;
	margin-right:5%;
}

#intro {
	width: 70%;
	margin-left: 3%;
	margin-top: 5%;
	background-color: black;
	border: 3px;
	border-style: solid;
	border-color: white;
	transition: background-color 0.15s;
	overflow: hidden;
    position: relative;
    animation-name: slideIn;
    animation-duration: 0.7s;
}

@keyframes slideIn {
	0% {
		left: -70%;
		animation-timing-function: ease-in;
	}

	100% {
		left: 0%;
		animation-timing-function: ease-out;
	}
}

.projectLinks {
	color: black;
	margin-left: 1%;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 10%;
}

.projectInfo {
	width: 60%;
	display: block;
	margin-left: 5%;
	margin-top: 2%;
}

h1 {
	font-family: courier-prime,monospace;
	font-weight: 700;
	font-style: normal;	
	font-size: 36px;
	color: #FFD738;
	padding: 1%;
	margin-left: 3%;
}

h2 {
	font-family: courier-prime,monospace;
	font-weight: 700;
	font-style: normal;	
	font-size: 28px;
	color: black;
	padding-left: 1%;
	margin-left: 3%;
	margin-bottom: 0;
}

h3 {
	font-family: courier-prime,monospace;
	font-weight: 700;
	font-style: normal;	
	font-size: 28px;
	color: #black;
	padding-left: 1%;
	margin-left: 3%;
	margin-bottom: 0;
}

h4 {
	font-family: courier-prime,monospace;
	font-weight: 700;
	font-style: normal;	
	font-size: 28px;
	color: #black;
	padding-left: 1%;
	margin-left: 3%;
	margin-bottom: 0;
}

h5 {
	font-family: courier-prime,monospace;
	font-weight: 700;
	font-style: normal;	
	font-size: 28px;
	color: #black;
	padding-left: 1%;
	margin-left: 3%;
	margin-bottom: 0;
}

p {
	font-family: courier-prime,monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	color: white;
	padding: 1%;
	margin-left: 3%;
}

.p3 {
	color: black;
	font-size: 24px;
	margin: 0;
}

.p4 {
	font-size: 24px;
	color: black;
	padding-left: 1%;
	margin-left: 3%;
	margin-top: 0;
	padding-top: 0;
}

.project_preview_odd {
	background-color: white;
	border-style: solid;
	border-color: black;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
    position: relative;
    animation-name: slideOdd;
    animation-duration: 0.5s;
}

@keyframes slideOdd {
	0% {
		left: -70%;
		animation-timing-function: ease-in;
	}

	100% {
		left: 0%;
		animation-timing-function: ease-out;
	}
}

.project_preview_even {
	background-color: white;
	border-style: solid;
	border-color: black;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
    position: relative;
    animation-name: slideEven;
    animation-duration: 0.5s;
}

@keyframes slideEven {
	0% {
		right: -70%;
		animation-timing-function: ease-in;
	}

	100% {
		right: 0%;
		animation-timing-function: ease-out;
	}
}

.preview {
	width: 40%;
	height: auto;
	margin: 0.5%;
	object-fit: contain;
	}

#aboutme {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 10%;
	background-color: white;
	overflow: hidden;
    position: relative;
    animation-name: slideOdd;
    animation-duration: 0.5s;
}

#aboutmeflex {
	display: flex;
	flex-direction: column;
}

hr {
	border-top: 1.5px solid white;
	border-bottom: 1.5px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

#home {
	height: 40px;
	margin-top: 0;
	padding-top: 0;
	padding-left: 10%;
	padding-right: 10%;
}

.end {
	padding: 1%;
}

svg {
	width: 100%;
	height: 90%;
	position: absolute;
}

rect {
	fill: red;
	x: 95%;
	y: 80%;
}

rect:hover {
	cursor: pointer;
}

#block2 {
	fill:white;
	x: 10%;
	y: 2%;
}

#block3 {
	fill:black;
	x: 40%;
	y: 80%;
}

#block4 {
	fill:black;
	x: 80%;
	y: 30%;
}

#block5 {
	fill:black;
	x: 5%;
	y: 90%;
}

.GoTo {
	color: blue;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: 700;
}

.fullProj {
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border-style: solid;
	border-color:black;
}

#projectHeading {
	background-color: black;
}

.hero_shot {
	width: 94%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.small_img {
	width: 48%;
	height: auto;
}

.imgFlex {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}

.centeredLink {
	display: block;
	text-align: right;
	color: blue;
	margin-right: 12%;
	font-weight: 700;
}

#A-M-title {
	color: black;
	margin-top: 0;
	padding-top: 1%;
	background-color: #FFD738; 
	width: 35%;
	text-align: center;
}

.A-M-subheading {
	color: #FFD738;
	font-weight: 400;
	margin-left: 6.5%;
	object-fit: contain;
}

#email {
	margin-top: 0;
	font-size: 20px;
	color: black;
	margin-left: 4%;
}

#email:hover {
	color: red;
}

#phone {
	font-size: 20px;
	color: black;
}

#content {
	background-color: black;
	overflow: hidden;
    position: relative;
    animation-name: slideEven;
    animation-duration: 0.5s;
}

.resume {
	font-size: 28px;
	margin-left: 10%;
	width: 80%;
}

ul {
	font-family: courier-prime,monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: white;
	margin:0;
	margin-left: 10%;
	margin-top: 1%;
	width: 30%;
	column-count: 2;
	column-width: 100px;
}


li {
	margin-top:1%;
	width: 30%;
}

@media (max-width: 768px){
	#intro {
		margin-left: auto;
		margin-right: auto;
	}

	.project_preview_odd {
		flex-direction: column;
	}

	.project_preview_even {
		flex-direction: column;
	}

	.preview {
		margin-left: auto;
		margin-right: auto;
	}

	.projectInfo {
		margin-left: auto;
		margin-right: auto;
	}

	.GoTo {
		margin-left: auto;
		margin-right: auto;
	}
}
